---
- hosts: gitea
  become: yes
  remote_user: ec2-user
  become_user: root
  vars:
    - gitea_dependences:
      - git
      - sqlite
    - gitea_domain: 1.2.3.4 
    - gitea_http_port: 80
    - gitea_ssh_domain: 1.2.3.4
    - gitea_ssh_port: 22
    - gitea_db_type: sqlite3
    - gitea_db_host: localhost:3306
    - gitea_db_name: root
    - gitea_db_user: gitea
    - gitea_db_password: password
    - gitea_install_lock: true

#  tasks:
#    - name: Create postgres db


  roles:
    - role: ansible-role-gitea
